/* Mobile */

@media screen and (min-width: 480px) {
  .container {
    max-width: 396px;
    margin: 0 auto;
  }
  .tel-fons {
    font-size: 34px;
  }
  .social-list-menu {
    gap: 36px;
  }
  .modal {
    width: 392px;
    height: auto;
  }

  /* Hero section */

  .hero-title {
    font-size: 36px;
  }

  /* Section 4 */

  .section-team {
    padding-right: 82px;
    padding-left: 82px;
  }
}

@media screen and (max-width: 767px) {
  /* Section 2 */

  .caption {
    text-align: center;
  }

  /* Section 4 */

  .employees-card {
    width: 100%;
  }
  .text-team {
    margin-bottom: 8px;
  }
}
