/* Mobile */

@media screen and (min-width: 480px) {
  .container {
    max-width: 396px;
    margin: 0 auto;
  }
  .tel-fons {
    font-size: 36px;
  }
  .social-list-menu {
    gap: 36px;
  }
  .modal {
    width: 392px;
    height: auto;
  }
  /* Hero section */

  .hero-title {
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  /* Section 2 */
  .caption {
    text-align: center;
  }
  /* Section 4 */
  .section-team {
  }
}
