/* Mobile */

@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
    margin: 0 auto;
    width: 100%;
  }
  .tel-fons {
    font-size: 36px;
  }
  .social-list-menu {
    gap: 36px;
  }
  .modal {
    width: 392px;
    height: auto;
  }
  /* Hero section */

  .hero-title {
    font-size: 36px;
  }

  /* Section 2 */
}
