/* Tablet */

@media screen and (min-width: 768px) {
  /* Header */
  .container {
    max-width: 768px;
    /* padding-bottom: 18px; */
  }

  .menu {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
  }
  .mobile-menu-open {
    display: none;
  }
  [class*='aa-tablet'] {
    display: block;
  }
  .adress {
    display: flex;
    margin-left: auto;
  }

  .mobile-menu {
    display: none;
  }
  .modal {
    width: 408px;
    height: auto;
  }

  /* Section Hero 1 */

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
  }
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet-1x.jpg);
    filter: none;
    padding-bottom: 108px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tablet-2x.jpg);
    }
  }
  .form-btn {
    width: 169px;
    height: 56px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* Header */

  .logo {
    padding-top: 7px;
  }

  /* Section 2 */

  .menu-item {
    display: grid;
    gap: 24px;
    flex-basis: calc((100% - 2 * 24px) / 2);
  }
  .aa {
    margin-bottom: 72px;
  }
  .menu-adv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  /* Section 4 */

  .menu-tablet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .employees-card {
    display: grid;
    gap: 24px;
    flex-basis: calc((100% - 2 * 24px) / 2);
  }

  /* Section 5 */

  .container-sm {
    max-width: 552px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }

  /* Footer */

  .footer-items {
    max-width: 552px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .web-footer {
    display: flex;
    text-align: left;
    margin-right: 24px;
  }
  .logo-footer {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    text-align: start;
  }
  .form-blok {
    display: flex;
    justify-content: center;
  }
  .form-footer {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 0;
  }
  .btn-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .text-footer-media {
    text-align: start;
  }
  .btn-form-footer {
    width: 165px;
    height: 40px;
  }
  .aa-btn-form {
    justify-content: none;
  }
}

/* Від 0 до 1199 */
@media screen and (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }

  /* Section 2 */

  .advantages-icon {
    display: none;
  }

  /* Section 3*/

  .duing {
    display: none;
  }

  /* Section 4 */

  .employees-card {
    padding-bottom: 32px;
  }
  .emp-foto {
    width: 100%;
  }
  .caption-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .text-team {
    margin-bottom: 8px;
  }
  .zz {
    margin-bottom: 64px;
  }

  /* Section 5 */

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px;
    column-gap: 24px;
  }
}
